<script type="text/javascript">

	//Initialize global variables
	var tl;
	var marker;
	var infoBubble = new Array();
	var point;
	var infoBubble_flag = { };
	var map;

	<% if !params[:q].blank?

		q = params[:q] 
		@type = params[:type]
    	client = Instagram.client
	    @searchparam = q

		if @type == "user"
	    	@users = client.user_search(q) %>
			document.getElementById("searchbar_notes").innerHTML ="Displaying <b><%= @users.count %></b> users for <b><%= q %></b>";
		<% end
		if @type == "tag"

			result = client.tag_recent_media(q)
	    	@media = nil
	    	if !result.nil?
			    @media = result.data
		    end
			ugly_start_date = nil
	    	ugly_end_date = nil

			if !@media.nil?
				@media.each do |media|

					if ugly_start_date.nil? or (media.created_time < ugly_start_date and !media.created_time.nil?)
	  					ugly_start_date = media.created_time
					end
					if ugly_end_date.nil? or (media.created_time >ugly_end_date and !media.created_time.nil?)
	  					ugly_end_date = media.created_time
					end	
				end
			end

			if ugly_start_date.nil?
				ugly_start_date = 0
			end
			if ugly_end_date.nil?
				ugly_end_date = 0
			end		

		    @start_date =Integer(ugly_start_date)
		    @end_date = Integer(ugly_end_date)
		    @middle_date = (Integer(ugly_start_date) + Integer(ugly_end_date )) / 2%>

			document.getElementById("searchbar_notes").innerHTML ="Displaying <%= @media.count %> results for <b><%= @searchparam %></b>";
		<% end
	end	%>
	//Insert code here to display username of results that are displayed

	//Creating a timeline data object
	var timeline_data = {
  		'wiki-url':"http://simile.mit.edu/shelf/",
  		'wiki-section':"Simile JFK Timeline",
  		'dateTimeFormat': 'iso8601',
		//loading the 'events' array
  		'events': [
        <% if !@media.nil? %>
			<% @media.each do |media| %>
			{
       			"start": "<%= Time.at(Integer(media.created_time)).iso8601 %>",
       			<% if media.caption != nil %>
            		"title": "<%= truncate(media.caption.text.gsub(/\n/," "), :length => 30)%>",
            		"description":"<%= truncate(media.caption.text.gsub(/\n/," "), :lenght => 30) %>>",
          		<% else %>
            		"title": "",
            		"description":"",
          		<% end %>
		  		"image" :"<%= media.images.low_resolution.url %>",
		  		"icon" :"<%= media.images.low_resolution.url %>",
		  		"link" :"<%= media.link %>",
				<% if media.location != nil && media.location.latitude != nil && media.location.longitude != nil %>
					"lat" : "<%= media.location.latitude %>",
					"lng" : "<%= media.location.longitude %>",
				<% else %>
					"lat": "0",
					"lng": "0",
				<% end %>
				"id" : "<%= media.id %>",
				'durationEvent':false // Notes: not "false". And no trailing comma.
     		}<% if media != @media.last %>,<%end%>
    		<% end %>
    	<% end %>
  	]};

function load_event(img, tl){

		var i;
		for (i=0; i <= timeline_data.events.length; i++)
		{				
			if ( timeline_data.events[i].image == img.src)
			{ 
				break;
			}
		}

		if ( timeline_data.events[i].lat !=0 && timeline_data.events[i].lng != 0)
		{
			var pt = new google.maps.LatLng(timeline_data.events[i].lat, timeline_data.events[i].lng);
			var arrowStyle = 2;
			var mkr = new google.maps.Marker({
							map: map,
          					position: pt
		});
		}
		else
		{
			var pt = new google.maps.LatLng(0,0);
			var arrowStyle = 3;
		}



		var content = '<div class="infobubble"><img id="map_image" src="' + img.src + '" width="300" height="300" onclick="close" /><p>' + timeline_data.events[i].title + '</p></div>';

		infoBubble = new InfoBubble({
			map: map,
			content: content,
			position: pt,
			shadowStyle: 3,
			padding: 10,
			backgroundColor: 'rgb(57,57,57)',
			borderRadius: 4,
			arrowSize: 10,
			borderWidth: 1,
			borderColor: '#2c2c2c',
			disableAutoPan: true,
			hideCloseButton: false,
			arrowPosition: 30,
			backgroundClassName: 'phoney',
			arrowStyle: arrowStyle
		});	

		if ( arrowStyle == 2 ) {
        	infoBubble.open(map, mkr);
		}
		else {
			infoBubble.open();
		}
		var ctr = new google.maps.LatLng((pt.lat()+25),(pt.lng()+15));

		map.setCenter(ctr);
		map.setZoom(3);

		if ( !is_empty(infoBubble_flag) )
		{
			infoBubble_flag.close();
			infoBubble_flag = {};
		}

		/*Set flag to infoBubble for new image displayed*/
		infoBubble_flag = infoBubble;

		/*Listen for user click on map to close any open info bubbles
        google.maps.event.addListener(map, 'center_changed', function () { 
			//document.write("hello");
			infoBubble.close(map, mkr);
        });*/

		//Move timeline to center on date of image - make sure the input is a Javascript date object
		var new_date = new Date(timeline_data.events[i].start);
		tl.getBand(0).setCenterVisibleDate(new_date);


};
</script>

<ul>
	<% if @type == "user"  %>
  		<% @users.each do |user| %>
    	<li>
    	    <a href="<%= user_path(user.id) %>" class="highlightit"><img src="<%= user.profile_picture %>" height="120" width="120" />
    	    <p> <%= link_to user.username, user_path(user.id) %> </p></a>
    	</li>
 		<% end %> 

 	<% end %>
	<% if @type == "tag"  %>
  		<% @media.each do |media| %>
    		<li>
    		    <a onclick="load_event(this, tl)" class="highlightit"><img border="0" src="<%= media.images.low_resolution.url %>" title="<% if !media.caption.nil?%><%= media.caption.text %><% end %>" width="120" height="120" onclick="load_event(this,tl)" onmouseover="load_event(this, tl)" /></a>
    		</li>
  		<% end  %>
	<% end %>
    <% if @media %>
		<% if params[:mode] == "tale" %>
			<% @media.each do |media| %>

					<% if !@images.nil? %>
						<% if @images.include?(media.images.low_resolution.url) %>
							<li onmouseover="$(this).children('p').show()" onmouseout="$(this).children('p').hide()" >
							<a onclick="load_event(this, tl)" ><img id="<%= media.id %>" style="border: 5px solid green;" src="<%= media.images.low_resolution.url %>" title="<% if !media.caption.nil?%><%= media.caption.text %><% end %>" width="120" height="120" onclick="load_event(this4,tl)"/></a>
						<% else %>
							<li onmouseover="$(this).children('p').show()" onmouseout="$(this).children('p').hide()" class="no-tale" >
							<a onclick="load_event(this, tl)" ><img id="<%= media.id %>" src="<%= media.images.low_resolution.url %>" title="<% if !media.caption.nil?%><%= media.caption.text %><% end %>" width="120" height="120" onclick="load_event(this4,tl)"/></a>				
						<% end %>
					<% else %>
						<li onmouseover="$(this).children('p').show()" onmouseout="$(this).children('p').hide()">
						<a onclick="load_event(this, tl)" ><img id="<%= media.id %>" src="<%= media.images.low_resolution.url %>" title="<% if !media.caption.nil?%><%= media.caption.text %><% end %>" width="120" height="120" onclick="load_event(this4,tl)"/></a>				
					<% end %>
					<p style="display: none;"><a onclick="add_url('<%= media.images.low_resolution.url %>','<%= media.id %>')">ADD</a> | <a onclick="remove_url('<%= media.images.low_resolution.url %>','<%= media.id %>')">REMOVE</a></p>
				</li>
			<% end %>
		<% else %>
			<% @media.each do |media| %>
				<li>
					<a onclick="load_event(this, tl)" class="highlightit"><img border="0" src="<%= media.images.low_resolution.url %>" title="<% if !media.caption.nil?%><%= media.caption.text %><% end %>" width="120" height="120" onclick="load_event(this, tl)" onmouseover="load_event(this, tl)" /></a>
				</li>
			<% end %>
		<% end %>
    <% end %>
</ul>



<script>
// This is the function that loads the page
function onLoad(){

	var eventSource = new Timeline.DefaultEventSource();

	var theme1 = Timeline.ClassicTheme.create();

	<% if @type != "user" %>
		theme1.timeline_start = new Date(Date.UTC(<%= Time.at(@start_date).year %>,<%= Time.at(@start_date).month - 1 %>,<%= Time.at(@start_date).day - 10 %>));
		theme1.timeline_stop = new Date(Date.UTC(<%= Time.at(@end_date).year %>,<%= Time.at(@end_date).month - 1 %>,<%= Time.at(@end_date).day + 10 %>));
	<% end %>

	theme1.autoWidth = false;

	theme1.event.instant.icon = "no-image-40.png";

	theme1.event.instant.iconWidth = 15;
	theme1.event.instant.incoHeight = 15;


	var bandInfos = [
	  	Timeline.createBandInfo({
	    	timeZone:       -5,
			trackHeight:    1.0,
	        trackGap:       0.2,
	        eventSource:    eventSource,
			<% if @type != "user" %>
	        date:           "<%= Time.at(@start_date).iso8601 %>",
			<% end %>
	        width:          "100%",
	        intervalUnit:   Timeline.DateTime.DAY,
	        intervalPixels: 100,
	        theme: theme1,
	        zoomIndex: 6,
                zoomSteps: new Array(
					{pixelsPerInterval: 40, unit: Timeline.DateTime.SECOND},                	
					{pixelsPerInterval: 40, unit: Timeline.DateTime.MINUTE},
                	{pixelsPerInterval: 20, unit: Timeline.DateTime.MINUTE},
                	{pixelsPerInterval: 60, unit: Timeline.DateTime.HOUR},
                	{pixelsPerInterval: 40, unit: Timeline.DateTime.HOUR},
                	{pixelsPerInterval: 20, unit: Timeline.DateTime.HOUR},
                	{pixelsPerInterval: 100, unit: Timeline.DateTime.DAY}    // default display

	          	),      
              
            eventPainter:   Timeline.CompactEventPainter,

			eventPainterParams: {
				iconLabelGap:     5,
				labelRightMargin: 5,
				iconWidth:        10, // These are for per-event custom icons
				iconHeight:       10,

				stackConcurrentPreciseInstantEvents: {
					limit: 5,
					moreMessageTemplate:    "%0 More Events",
					icon:                   "no-image-80.png", // default icon in stacks
					iconWidth:              10,
					iconHeight:             10
				}
            }
	    })
		/*,
	    Timeline.createBandInfo({
			showEventText:  false,
	        trackHeight:    0.5,
	        trackGap:       0.2,
	        eventSource:    eventSource,
	        date:           "",*/
	       /* width:          "30%",
	        intervalUnit:   Timeline.DateTime.MONTH,
	        intervalPixels: 100,
	        theme:          theme1
	    })*/
	  ];
	  //document.getElementById("dates").innerHTML = bandInfos[0].intervalUnit;
	  //document.write(bandInfos[0]);
	  //bandInfos[1].syncWith = 0;
	  //bandInfos[1].highlight = true;
	  //bandInfos[1].eventPainter.setLayout(bandInfos[0].eventPainter.getLayout());

	  var url = "http://localhost:3000";
	  tl = Timeline.create(document.getElementById("timeline"), bandInfos);
	  eventSource.loadJSON(timeline_data, url);


	//Google Maps
	if (GBrowserIsCompatible()) {


		//function init() {

			map = new google.maps.Map(document.getElementById("map"), {
    	    	zoom: 1,
	        	center: new google.maps.LatLng(0,0),
	            mapTypeId: google.maps.MapTypeId.ROADMAP
			});


			var counter = 0;
			var infoBubble = new Array();
			//var point = new Array();
			var content;

			//var marker = new Array();


			//map.enableScrollWheelZoom();
			//map.addControl(new GLargeMapControl());

	        <% if !@media.nil? %>
				<% @media.each do |media| %>

					<% if media.location != nil && media.location.latitude != nil && media.location.longitude != nil && media.caption != nil %>
						point = new google.maps.LatLng(<%= media.location.latitude %>, <%= media.location.longitude %>);
						//point[counter] = new google.maps.LatLng(<%= media.location.latitude %>, <%= media.location.longitude %>);
						content = { title: "<%= truncate(media.caption.text.gsub(/\n/," "), :length => 30)%>"};
						marker = new google.maps.Marker({
							map: map,
          					position: point,
							zIndex: counter 
						});

					var content = '<div class="infobubble"><img src="<%= media.images.thumbnail.url %>" width="300" height="300" onclick="close" /><p>' + timeline_data.events[counter].title + '</p></div>';

					infoBubble[marker.zIndex] = new InfoBubble({
          					map: map,
          					content: content,
          					position: point,
					        shadowStyle: 1,
          					padding: 10,
          					backgroundColor: 'rgb(57,57,57)',
			                borderRadius: 4,
          					arrowSize: 10,
          					borderWidth: 1,
					        borderColor: '#2c2c2c',
          					disableAutoPan: true,
          					hideCloseButton: false,
          					arrowPosition: 30,
          					backgroundClassName: 'phoney',
          					arrowStyle: 2
        			});	

					google.maps.event.addListener(marker, 'mouseover', function() {
						 infoBubble[this.zIndex].open(map, this);
						 var ctr = new google.maps.LatLng((this.position.lat()+25),(this.position.lng()+15));

				         map.setCenter(ctr);
						 map.setZoom(3);

						if ( !is_empty(infoBubble_flag) )
						{
							infoBubble_flag.close();
						}			

						/*Set flag to infoBubble for new image displayed*/
						infoBubble_flag = infoBubble[this.zIndex];


        			});	

					google.maps.event.addListener(marker, 'click', function() {
          				 infoBubble[this.zIndex].close();
          			});
					counter++;

				<%end%>

			<% end %>

        <% end %>
		/*
			var counter = 0;
			var point = new Array();
			var markerOptions;
			var marker = new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(-35, 151),
          draggable: true
        });
			
		    var contentString = 'hello';
      
        infoBubble = new InfoBubble({
          map: map,
          content: 'Some label',
          position: new google.maps.LatLng(-35, 151),
          //shadowStyle: 1,
          //padding: 0,
          backgroundColor: 'rgb(57,57,57)',
          borderRadius: 4,
          arrowSize: 10,
          borderWidth: 1,
          borderColor: '#2c2c2c',
          disableAutoPan: true,
          hideCloseButton: true,
          arrowPosition: 30,
          backgroundClassName: 'phoney',
          arrowStyle: 2
        });
  
        google.maps.event.addListener(marker, 'mouseover', function() {
          if (!infoBubble.isOpen()) {
            infoBubble.open(map, marker);
          }
          });
 */
        };
 
     
      	 	



			/*
			
			
        <% if !@media.nil? %>
			<% @media.each do |media| %>

				<% if media.location != nil && media.location.latitude != nil && media.location.longitude != nil && media.caption != nil %>

						point[counter] = new GLatLng(<%= media.location.latitude %>, <%= media.location.longitude %>);

						markerOptions = { title: "<%= media.caption.text %>" };


						marker[counter] = new GMarker(point[counter], markerOptions);
						map.addOverlay(marker[counter]);

						var location = marker[counter];
						var caption = "<%= media.caption.text %>";
						var html_popup = "<table><tr><td style='font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#FF0000; font-size:22px'><%= media.caption.title%></td></tr><tr><td><%= media.caption.text %></td></tr><tr><td align='center'><img src='<%= media.images.thumbnail.url %>' /></td></tr></table>";
						location.html_popup = html_popup;

						// need to escape when html characters used in caption

						GEvent.addListener(location, 'mouseover', function() {this.openInfoWindowHtml(this.html_popup)});

						counter++;
				<%end%>

			<% end %>
			
        <% end %>
	        if (point != null && point.length > 0) {
	            map.setCenter(point[counter - 1], 11);
	        } else {
	            //default us to San Francisco
			    map.setCenter(new GLatLng(37.775196, -122.419204), 11);
	        }
			// This is a line connecting the points
			  //var polyline = new GPolyline(point, "#ff0000", 5);
			  //map.addOverlay(polyline);
		*/
		//google.maps.event.addDomListener(window, 'load', init());		
		//}


		return tl;

}
<% if !@images.nil? %>
	var image_urls = [<% @images.each do |image| %>
							"<%= image %>"
						<% if image != @images.last %>,<% end %>
						<% end %>
						];
<% else %>
	var image_urls = [];
<% end %>
function add_url(url, id){
	image_urls.push(url);
	$('#'+id).css({border: '5px solid #31B404'});
	if (image_urls.length == 0){
		$('#save_images').hide();
	}
	else{
		$('#save_images').html('<p>Saving '+image_urls.length+' images to story</p>').show();
	}
};
function remove_url(url, id){
	for ( var i=0; i <= image_urls.length; i++){
		if (image_urls[i] == url){
			image_urls.splice(i,1);
		}
	}
	$('#'+id).css({border: 'none'});
	if (image_urls.length == 0){
		$('#save_images').hide();
	}
	else{
		$('#save_images').html('<p>Saving '+image_urls.length+' images to story</p>').show();
	}
};
</script>