<!-- Load content into body of application.html.erb -->
  	<p>Welcome to TagLab
	<% if current_user %>
		Welcome, <%= current_user.username %>!
		<%= link_to "Sign Out", signout_path %>
		<%= link_to 'Profile', users_path %>
		<%= link_to 'Tags', tags_path %>
		
	<% else %>
		<%= link_to "Sign in with Twitter", "/auth/twitter/" %>
		<!--<%= link_to "Sign in with Facebook", "/auth/facebook/" %>-->
		
	<% end %></p>
	<img src="/images/logo.jpg" alt="TagLab now!" />
	<p><em>meep meep</em></p>
	

	
	


